@font-face {
  font-family: "iconfont"; /* Project id 2900110 */
  src: url('iconfont.woff2?t=1635920151779') format('woff2'),
       url('iconfont.woff?t=1635920151779') format('woff'),
       url('iconfont.ttf?t=1635920151779') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuang1111:before {
  content: "\e782";
}

.icon-lishijilu-copy:before {
  content: "\e620";
}

.icon-yijianfankui:before {
  content: "\e637";
}

.icon-gengduo:before {
  content: "\e604";
}

.icon-wodexiazai:before {
  content: "\e64b";
}

.icon-shezhi:before {
  content: "\e65a";
}

.icon-xueshimao:before {
  content: "\e605";
}

.icon-qiaquanbao:before {
  content: "\e674";
}

.icon-wodechengjiu:before {
  content: "\e7a3";
}

.icon-zaixianmianliuliang:before {
  content: "\e621";
}

.icon-xianshihuodong:before {
  content: "\e60c";
}

.icon-icon-test:before {
  content: "\e622";
}

.icon-yuanbao:before {
  content: "\e601";
}

.icon-Udou:before {
  content: "\e752";
}

.icon-saoyisao:before {
  content: "\e8b5";
}

.icon-wodegoumai:before {
  content: "\e615";
}

.icon-zaixianmianliuliang1:before {
  content: "\e630";
}

.icon-moshiqiehuan:before {
  content: "\e64e";
}

.icon-wodepingfen:before {
  content: "\e63e";
}

.icon-bell:before {
  content: "\e96d";
}

.icon-shoucang:before {
  content: "\e602";
}

.icon-wenjuantiaoyan:before {
  content: "\e805";
}

.icon-zuanshi:before {
  content: "\e699";
}

.icon-xunzhang:before {
  content: "\e68b";
}

.icon-xin:before {
  content: "\e606";
}

.icon-VIP:before {
  content: "\e68e";
}

.icon-liebiao2:before {
  content: "\e600";
}

.icon-shequ:before {
  content: "\e627";
}

.icon-shouye2:before {
  content: "\e645";
}

.icon-iconfontzhizuobiaozhun023146:before {
  content: "\e694";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-youku:before {
  content: "\e62f";
}

.icon-24gf-ellipsisVertical:before {
  content: "\eb10";
}

.icon-ziyuanxhdpi:before {
  content: "\e629";
}

.icon-youku1:before {
  content: "\e603";
}

.icon-duanshipin:before {
  content: "\e654";
}

.icon-huiyuan:before {
  content: "\e8c5";
}

.icon-youjiantou:before {
  content: "\e60a";
}

.icon-wode:before {
  content: "\e60b";
}

