@font-face {
  font-family: "iconfont"; /* Project id 2987293 */
  src: url('iconfont.woff2?t=1638585994842') format('woff2'),
       url('iconfont.woff?t=1638585994842') format('woff'),
       url('iconfont.ttf?t=1638585994842') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wangyiyun:before {
  content: "\e617";
}

.icon-yinle:before {
  content: "\e634";
}

